---
Checks:          '*,-fuchsia-*,-google-*,-zircon-*,-abseil-*,-modernize-use-trailing-return-type,-llvm*,-llvmlibc-*,-altera-*,-readability-magic-numbers,'
WarningsAsErrors: ''
HeaderFilterRegex: ''
FormatStyle:     none


